#Start-Quiz{

    text-align: center;
    background-color: yellow;
    color: black;
    font-size: x-large;
}

#Quiz{
    text-align: center;
    background-color: red;
    color: white;
    font-size: x-large;
}

#End-Game{
    text-align: center;
    background-color: blue;
    color: white;
    font-size: x-large;
}

button{
    font-size: large;
    padding: 10px;
    border-radius: 20px;
}

#fname{
    font-size: medium;
}

#highscores{

    display: inline-block;
    position: relative;
    top: 3%;
    left: 1%;
    font-size: large;
}

.hide{

    display: none;

}

#timer1{
    text-align: right;
}

body{
    background-image: url(./assets/coolest-poke-ball-on-starry-galaxy-r7w8578dkhu46pim.jpg);
}

